newthon
gitpython
dnspython
pymongo
speedtest-cli
https://codeload.github.com/MiyukiKun/FastTelethonhelper/zip/refs/heads/main
requests
ffmpeg
selenium
python-dotenv
bs4
youtube_dl
pytgcalls==3.0.0.dev22
youtube-search-python
telegraph
cryptg
